node_modules
madlib_modules
.module_cache
src/Test.mad
src/Test2.mad
build
lib/include
lib/lib
a.out.dSYM
a.out
.buildlibs
.vscode
sprite.png
arial.ttf
.tests
.repl
lib/src/openglexample.cpp
shader.vert
shader.frag
